{% extends 'baseperfiles.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}

{% block presupuestos %}
<div class="row" > 
    <div class=" titulo1  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
      <div class="">
        <span style=" font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="{% static 'images/logopres.png' %}"> Presupuestos</span>
      </div>
    </div>
  </div>
  <!------------------------------------------------------------------------------->
  <div  style="height: 50px;"></div>
  <!-----------------------------------recibido-------------------------------------------->
  <div class="row"> 
    <div  class="col s12 barra center-align " ><span class="titulito center-align white-text"> Recibidos</span> </div>
    </div>
    <div class="row"><table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Items</th>
            <th class="center">Empresa</th>
            <th>Cliente</th>
            <th>Ver Negociacion</th>
        </tr>
    </thead>
    <tbody>
        {% for preprec in presupuestos_recibidos %}
        <tr>
            <td>{{preprec.fecha|date:"M d, Y"}}</td>
            <td>
            <div style="overflow-y: scroll; height: 150px;" >
            <ol class="collection" start="1">
                {% for item in preprec.items %}
            <li class="collection-item" >{{item}}</li>
            {% endfor %}
            </ol>
        </div>
        </td>
            <td class="center">{{preprec.empresa}} </td>
            <td>{{preprec.comprador}}</td>
            <td><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="waves-effect waves-light btn botonsote red white-text col s12" > Ver todos </a>
  </div>
  <div class="row"> 
    <div  class="col s12 barra center-align " ><span class="titulito center-align white-text"> En Negociacion</span> </div>
  </div>
  <div class="row">
    <table>
    <thead>
      <tr>
          <th>Fecha</th>
          <th>Items</th>
          <th class="center">Empresa</th>
          <th>Cliente</th>
          <th>Ver Negociacion</th>
      </tr>
    </thead>
    <tbody>
      {% for prepneg in presupuestos_negociando %}
      <tr class="activado">
        <td>{{prepneg.fecha|date:"M d, Y"}}</td>
        <td>
          <div style="overflow-y: scroll; height: 150px;" >
          <ol class="collection" start="1">
            {% for item in prepneg.items %}
          <li class="collection-item" >{{item}}</li>
          {% endfor %}
        </ol>
      </div>
      </td>
        <td class="center">{{prepneg.empresa}}</td>
        <td>{{prepneg.comprador}}</td>
        <td><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="waves-effect waves-light btn botonsote red white-text col s12" > Ver todos </a>
  <div class="col s12 " style="height: 70px; background-color:  #3cad42;" ></div>
  </div>
{% endblock presupuestos %}

{% block sidenavOpciones %}
      <li><a href="#id6">Vencimientos</a></li>
      <li><a href="#id7">Logistica</a></li>
      <li><a href="#id8">Comprobantes</a></li>
      <li><a href="#id8">Mas Opciones </a></li>
      <li><a class="waves-effect waves-light btn botonsito red white-text modal-trigger pinned " href="#alerta"> Enviar Alerta</a></li>
{% endblock sidenavOpciones %}